header {
  text-align: left;
  background-color: #7500d4;
  color: white;
  padding: 20px 40px;
  border: 20px solid #0d0d0d;
  border-radius: 50px;
  font-size: 40px;
  text-align: left;
  
  
}
.menu {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
.header-icons {
  position: absolute;
  top: 45px;
  right: 60px;
  display: flex;
  gap: 25px; 
  align-items: center;
  font-size: 28px; 
}

.menu li {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.circulo {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  margin-right: 10px;
}
.container-motos {
  display: flex;
  align-items: center;
  
}

.image-motos{
  margin-right: 20px;
}

img {
  height: 50%;
  width: 30%;
  border-radius: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #5f5c5c;
}
footer {
  background-color: #7500d4;
  color: white;
  padding: 20px 40px;
  border: 20px solid #0d0d0d;
  border-radius: 50px;
  font-size: 40px;
  text-align: center;
}
.redes img {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.container-motos p {
  background-color: #666;
  color: black;
  padding: 20px;
  width: 80%;
  box-shadow: 0 20px 0 #fff;
  border-radius: 8px;
  margin-right: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #0e0d0d;
  line-height: 1.4;
}
.titulo {
  font-size: 80px;
  font-weight: bold;

}
